@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --iabs-red: #ff0000;
  --kick-green: #53fc18;
}

body.obs-mode {
  background: transparent !important;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--iabs-red);
  border-radius: 10px;
}

.neon-glow-red {
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
}

.neon-glow-green {
  box-shadow: 0 0 20px rgba(83, 252, 24, 0.5);
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

@keyframes shimmer {
  0% {
    transform: translate(-100%, -100%) rotate(45deg);
  }

  100% {
    transform: translate(100%, 100%) rotate(45deg);
  }
}

@keyframes bounce-slow {

  0%,
  100% {
    transform: translateY(0) rotate(-12deg);
  }

  50% {
    transform: translateY(-10px) rotate(-15deg);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.animate-shimmer {
  animation: shimmer 5s linear infinite;
}

.animate-bounce-slow {
  animation: bounce-slow 2s ease-in-out infinite;
}